{% extends "layouts/base.html" %}
{% load static %} 

{% block title %}About Me{% endblock %} 

{% block content %}
<section class="Home">
  <div>
    <h1>About Me</h1>
    <p>
      As a Full-Stack Developer, I have a solid academic background supported by
      Academlo in Mexico and a certification as a Software Analysis and
      Development Technologist granted by SENA in Colombia. My focus is on
      creating technological solutions that drive efficiency and growth for your
      company. With a strong desire to learn and improve my coding skills, I am
      ready to contribute with innovation, commitment, and dedication to your
      team.
    </p>
  </div>
</section>
{% endblock %}
